* {
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    background-color: #011826;
    font-family: 'Roboto Slab', serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 50%;
    margin: 10px;
}


.name {
    font-weight: 900;
    text-align: center;
    font-size: 25px;
    color: #f5f5f5;
}

.link {
    display: flex;
    justify-content: center;
    line-height: 50px;
    margin: 15px 10px;

}

.botao {
    width: 18rem;
    height: 3rem;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #033E8C;
    font-weight: 400;
    font-size: 22px;
    color: #f5f5f5;
    box-shadow: 0px 0px 10px 2px #000;
    transition: 300ms ease-in-out;
}

.botao:hover {
    transition: 200ms ease-in-out;
    box-shadow: none;
}

a {
    text-decoration: none;
    color: #f5f5f5;
}

.icon {
    margin: 0px 8px 0px 0px;
    color: #f5f5f5;
}

@media screen and (max-width: 300px){
    .botao {
        width: 80vw;
    }
    
}
